@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("HomepageProducts")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
        <div class="newArrivalBanner">
            <div class="leftTitle"><strong>New Arrival</strong></div>
            <div>
                <img src="https://k.nooncdn.com/cms/pages/20200917/ff84d960dcaa7813f447df7b7d4f1bcf/en_hero-banner-01.gif" alt="" title="" />
            </div>
        </div>
        <div class="BrandsBlock">
            <div class="title"><strong>Brands</strong></div>
            <div>
                @await Component.InvokeAsync("HomepageCategories")
            </div>
        </div>
        <div class="homepagesubcategory">
            <div class="leftTitle"><strong>Sub Category</strong></div>
            <div>
                <img src="https://cms.souqcdn.com/sanfronto/eg/2018/Web/Banners/HP-Strip/Free-Shipping-en.png" alt="" title="" />
            </div>
        </div>  
        <div class="homerecentlyViewed">
            <div class="leftTitle"><strong>Recently viewed</strong></div>
            <div>
                <div class="recentlyViewedBox">
                    <div class="picture">
                        <a href="/electronics-3" title="Show products in category Electronics">
                            <img alt="Picture for category Electronics" src="https://localhost:44305/images/thumbs/default-image_450.png" title="Show products in category Electronics">
                        </a>
                    </div>
                    <h2 class="recVititle"><a href="/givenchy-blue-label-edt-100-ml">GIVENCHY BLUE LABEL EDT 100 ML</a></h2>
                </div>
                <div class="recentlyViewedBox">
                    <div class="picture">
                        <a href="/electronics-3" title="Show products in category Electronics">
                            <img alt="Picture for category Electronics" src="https://localhost:44305/images/thumbs/default-image_450.png" title="Show products in category Electronics">
                        </a>
                    </div>
                    <h2 class="recVititle"><a href="/givenchy-blue-label-edt-100-ml">GIVENCHY BLUE LABEL EDT 100 ML</a></h2>
                </div>
                <div class="recentlyViewedBox">
                    <div class="picture">
                        <a href="/electronics-3" title="Show products in category Electronics">
                            <img alt="Picture for category Electronics" src="https://localhost:44305/images/thumbs/default-image_450.png" title="Show products in category Electronics">
                        </a>
                    </div>
                    <h2 class="recVititle"><a href="/givenchy-blue-label-edt-100-ml">GIVENCHY BLUE LABEL EDT 100 ML</a></h2>
                </div>
                <div class="recentlyViewedBox">
                    <div class="picture">
                        <a href="/electronics-3" title="Show products in category Electronics">
                            <img alt="Picture for category Electronics" src="https://localhost:44305/images/thumbs/default-image_450.png" title="Show products in category Electronics">
                        </a>
                    </div>
                    <h2 class="recVititle"><a href="/givenchy-blue-label-edt-100-ml">GIVENCHY BLUE LABEL EDT 100 ML</a></h2>
                </div>
                <div class="recentlyViewedBox">
                    <div class="picture">
                        <a href="/electronics-3" title="Show products in category Electronics">
                            <img alt="Picture for category Electronics" src="https://localhost:44305/images/thumbs/default-image_450.png" title="Show products in category Electronics">
                        </a>
                    </div>
                    <h2 class="recVititle"><a href="/givenchy-blue-label-edt-100-ml">GIVENCHY BLUE LABEL EDT 100 ML</a></h2>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
