<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            <div class="LanguageSelector">
                @await Component.InvokeAsync("LanguageSelector")
            </div>
            <div class="ContactUsPhone">
                <p><i class="fa fa-phone" aria-hidden="true"></p>
                <p>+96566415449</p>
            </div>
            <div class="follow-us">
                <div class="social">
                    @await Component.InvokeAsync("SocialButtons")
                </div>
            </div>
            @*@await Component.InvokeAsync("TaxTypeSelector")
        @await Component.InvokeAsync("CurrencySelector")
        @await Component.InvokeAsync("LanguageSelector")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })*@
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
<div class="header-lower">
    <div class="header-logo">
        @await Component.InvokeAsync("Logo")
    </div>
    <div class="menuiconsDisplay">
        <i class="fa fa-search" aria-hidden="true"></i>
        <a href="@Url.RouteUrl("ShoppingCart")">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
        <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <div class="search-box store-search-box">
        @await Component.InvokeAsync("SearchBox")
    </div>
    <div class="header-links-wrapper">
        @await Component.InvokeAsync("HeaderLinks")
        @await Component.InvokeAsync("FlyoutShoppingCart")
    </div>
</div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
